body {
    width: 1120x;
    height: 88px;
    margin: 0;
    padding: 0;
    font-family: "TT lakes", sans-serif;
    font-size: 14px;
    color: #1B1C21;
    
}

 /* Хедер*/

header {
    width: 1120px;
    height: 88px;
    background-color: #FFFFFF;
}

.navigation {
    padding: 16px 0;
    display: flex;
    align-items: center;
}

/* Скрытые элементы хэдера*/

.header {
    display: none;
}


 /* Мэин*/

.container {
    width: 1120px;
    min-height: 416px;
    padding-bottom: 49px;
    background-color: #F8F8F8;
}

h1 {
    margin:0;
    margin-left: 33px;
}
.container_title {
    padding-top:24px;  
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}

/* Список услуг и сервисов*/

ul {
    margin: 0;
    padding: 0;
}

.container_nav {
    margin-bottom: 16px;
}

.container_service {
    display: flex;  
    flex-wrap: wrap;
    margin-left: 33px;
}

  .container_li { 
    list-style-type: none;
    padding: 8px 13px;
    border: 2px solid #F8F8F8;
    border-radius: 6px;
    background-color: #F8F8F8;
}

.container_li:hover{ 
    list-style-type: none;
    padding: 8px 13px;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.container_link { 
    text-decoration:none;
    color: #7E7E82;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
}

.container_block {
    display: flex;
}
.container_info {
    margin-left: 33px;
    margin-right: auto;
    max-width: 490px;
    color: #1B1C21;
}

.container_text1 {
    line-height: 20px;
    margin-top: 0;
}

.container_text2 {
    line-height: 20px;
}

.container_logo-img{
    margin-right:33px;
    border-radius: 10px;
    height: 307px;
}

/* Ссылки-иконки*/

.navigation_repairico-link {
    margin-left:auto;
    margin-right: 0;
    text-decoration: none;
    color: #1B1C21;
}
.navigation_repairico-text {
    display: flex;
    align-items: center;
}

.navigation_repair-img {
    margin-left: 8px;
    order: 1;
}

.navigation_repair-text {
    font-size: 16px;
    font-weight: 500;
}

.navigation_checkico-link {
    margin-left: 32px;
    text-decoration: none;
    color: #1B1C21;
}
.navigation_checkico-text {
    margin-left: 0;
    display: flex;
    align-items: center;
}

.navigation_check-img {
    margin-left: 8px;
    order: 1;
}

.navigation_check-text {
    font-size: 16px;
    font-weight: 500;
}

.navigation--position--margin:last-child {
    margin-right: 24px;
}


   /* Styles for text box with more button */
 .container_limited {
    max-height: 160px;
    overflow: hidden;
    position: relative;
  }
  .container_limited.container_l-160 {
    max-height:160px;
  }
  .container_read-more-checker {
    opacity: 0;
    position: absolute;
  }

  .container_read-more-checker:checked ~ .container_limited {
    max-height: none;
  }

  .container_read-more-checker ~ .container_read-more-button::after {
    content: "Читать далее";
    margin-left: 25px;
  }

  .container_read-more-checker:checked ~ .container_read-more-button::after {
    content: "";
    margin-left: 25px;
  }

  .container_read-more-checker:checked ~ .container_read-more-button1::after {
    content: "Свернуть";
    margin-left: 25px;
  }

  .container_read-more-button {
    margin-top:16px;
    padding:0;
    display: flex;
    align-items: center;
    border: none;
    background-color:#F8F8F8;
    background-image: url("../img/icon/expand.svg");
    background-repeat: no-repeat;
    font-family: "TT lakes", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #1B1C21;
  }

  .container_read-more-button1 {
    padding:0;
    display: flex;
    align-items: center;
    border: none;
    background-color:#F8F8F8;
    background-image: url("../img/icon/expand1.svg");
    background-repeat: no-repeat;
    font-family: "TT lakes", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #1B1C21;
  }