body {
    min-width: 768px;
    height: 88px;
    margin: 0;
    padding: 0;
    font-family: "TT lakes", sans-serif;
    font-size: 14px;
    color: #1B1C21;
    
}

 /* Хедер*/

header {
    min-width: 768px;
    background-color: #FFFFFF;
}

.navigation {
    padding: 16px 0;
    display: flex;
    align-items: center;
}

.navigation__call {
    margin-left:auto;
}

.navigation__item {
    margin-right: 16px;
}

.navigation__item:first-child {
    margin-left: 24px;
}

.navigation__item:last-child {
    margin-right: 24px;
}

 /* Мэин*/

.container {
    min-width: 768px;
    background-color: #F8F8F8;
}

h1 {
    margin:0;
    margin-left: 20px;
}
.container__title {
    padding-top:24px;  
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}

/* Скрытые элементы мэин*/

.container__navigation {
    display: none;
}

/* Список услуг и сервисов*/

.container__service {
    margin: 0;
    padding: 0 0 0 24px;
    display: flex;
    overflow: scroll;   
}

.container__service::-webkit-scrollbar {
    display: none;
}

  .container__li { 
    list-style-type: none;
    padding: 8px 13px;
    border: 2px solid #F8F8F8;
    border-radius: 6px;
    background-color: #F8F8F8;
}

.container__li:hover{ 
    list-style-type: none;
    padding: 8px 13px;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.container__link { 
    text-decoration:none;
    color: #7E7E82;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
}

.container__block {
    display: flex;
    padding: 24px;
}
.container__info {
    margin-right: auto;
    max-width: 50%;
    min-width: 320px;
    color: #1B1C21;
}

.container__text {
    line-height: 20px;
    margin-top: 0;
}

.container__logo-img {
    width: 45vw;
    margin-left: 48px;
    border-radius: 10px;
}



  /* Кнопки раскрытия текста */
 .container__limited {
    max-height: 160px;
    overflow: hidden;
    position: relative;
  }
  .container__limited.container__limited_l-160 {
    max-height:155px;
  }
  .container__read-more-checker {
    opacity: 0;
    position: absolute;
  }

  .container__read-more-checker:checked ~ .container__limited {
    max-height: none;
  }

  .container__read-more-checker ~ .container__read-more-button::after {
    content: "Читать далее";
    margin-left: 25px;
  }

  .container__read-more-checker:checked ~ .container__read-more-button::after {
    content: "";
    margin-left: 25px;
  }

  .container__read-more-checker:checked ~ .container__read-more-button1::after {
    content: "Свернуть";
    margin-left: 25px;
  }

  .container__read-more-button {
    margin-top:16px;
    padding:0;
    display: flex;
    align-items: center;
    border: none;
    background-color:#F8F8F8;
    background-image: url("../img/icon/expand.svg");
    background-repeat: no-repeat;
    font-family: "TT lakes", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #1B1C21;
  }

  .container__read-more-button1 {
    padding:0;
    display: flex;
    align-items: center;
    border: none;
    background-color:#F8F8F8;
    background-image: url("../img/icon/expand1.svg");
    background-repeat: no-repeat;
    font-family: "TT lakes", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #1B1C21;
  }